<div class="row product-details" *ngIf="productDetail">
    <div class="col-sm-6">
        <img class="product-img" src="{{productDetail.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productDetail.name}}</h1>
            <h3>Price : {{productDetail.price}}</h3>
            <div>Color :<h3 [style.backgroundColor]="productDetail.color" class="product-color"></h3>
            </div>
            <h6>Category : {{productDetail.category}}</h6>
            <h6>Description : {{productDetail.description}}</h6>
            <button class="form-button">Buy Now</button>
            <button class="form-button" *ngIf="!removeCart" (click)="removeToCart(productDetail.id)">Remove to
                Cart</button>
            <button class="form-button" (click)="addToCart()" *ngIf="removeCart">Add to Cart</button>
            <div class="quantity-group">
                <button (click)="decreaseProductQuantity()">-</button>
                <input type="text" value="{{productQuantitiy}}" readonly />
                <button (click)="increaseProductQuantity()">+</button>

            </div>
        </div>
    </div>
</div>